# Site URL
NEXT_PUBLIC_SITE_URL=https://patrialabs.vercel.app

# Contact Information
CONTACT_EMAIL=wahyupatriaji@gmail.com

# SMTP Server Configuration (Required for contact form emails)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your-smtp-username@gmail.com
SMTP_PASSWORD=your-smtp-app-password
SMTP_FROM="Wahyu Patriaji Portfolio" <no-reply@patrialabs.vercel.app>

# Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY=your_site_key_here
TURNSTILE_SECRET_KEY=your_secret_key_here
